/*barra de navegacion*/
.navbar{
    /* margin: 0; */
    padding: 2rem;
    background-color:rgb(245, 245, 247);
}
.collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.nav-item a:hover{
    color:rgb(19, 247, 16);
}

/*responsivo*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
/* pie de pagina */
footer{
    background-color: #003b46 ;
    color: aliceblue;
}
.footer-logo{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 60px;
}
.iconos-redes i{
    width: 50;
    height: 50px;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px 10px 50px;
    border: 2px solid aliceblue;
    border-radius: 50%;
    transition:all 0.2s ease-in ;
}
.iconos-redes a{
    text-decoration: none;
}
/* .iconos-redes a:hover{
    background-color: rgb(13,110 ,253);
    border:2px solid rgb(13,110 ,253) ;

} */
.iconos-redes a:hover i {
    background-color: rgb(13,110 ,253) ;
    color: greenyellow;
    border: 2px solid greenyellow;

}
.derecho-autor{
    font: size 12px;
    color: #aeaeae;
    padding: 20px;
}
.recursos-graficos{
    font-size: 11px;
}
.mapa-sitio{
    font-size: 11px;
}
/*formulario*/
#formulariocons{
    background: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    color: yellow;
} 
/* Quienes somos */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.seccion-titulo{
    padding: 15px 0;  
} 
.titulo principal h1{
    font-size:2.5rem;
    
}
.titulo-principal{
    padding: 3rem;
}
.integrantes img{
    width: 400px;
    height: 650px;
} 
.integrantes-grupo img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
} 
.integrantes-contenedor{
    padding-top: 60px;
    margin-bottom: 20px;
}
.overlay{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
}
.overlay p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0; 
} 
.integrantes:hover .overlay{
    opacity: 1;
}
.integrantes:hover img{
    opacity: 0.2;
}
.integrantes:hover{
    position: relative;  
}
.overlay .iconos-contenedor{
    display: flex;
} 
.overlay i{
    color: black; 
    font-size: 30px;
    margin: 30px;
}

.contacto button{
    color:white;
    font-weight:bold ;
    background-color:blue ;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;

}
.contacto button i{
    color:white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover{
    background-color:white;
    border: 2px solid black;
    color:black;
}
.contacto button:hover i{
    color: black;
}
/*experiencia*/
.experiencia{
    background-color: #4F6457;
    padding: 40px 40px 60px 40px;
}
#proyecto{
background-color: white;
}
.experiencia .seccion-clara{
    color: white;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}
.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly ;
    transition: all 0.2s ease-in;
}
.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}
/*css del boton  bienvenidos*/
#onmouseover{
    background-color:rgb(195, 31, 31);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 5px;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
}
/* servicio   */
.serv{
    background-color:#99bfaa;
}
.cards{
    background-color: #F5E356;
    height: 20rem;
    padding-top: 5rem;
    border: 2px solid #4F6457 ;
    border-radius: 5px;
}
.card{
    background-color: #4F6457;
    height: 36rem;
}
/* quienes somos */
.somos{
    background-color:#99bfaa;
}
.carlos-paz{
    background-color:#99bfaa;
}
/* index */
#portafolio img{
    border-radius: 10px;
}
#carousel{
    background-color:#99bfaa;
} 
hr{
    height: 5px;
    background-color: #1b1b32;
}
/* .carousel-item{
    height: 500px;
    }  */
@media screen and (min-width: 768px){
    .carousel-item{
        height: 500px;
    }
}
@media screen and (max-width: 768px){
        .footer-logo {
        width: 80px;
        height: 80px;
    }
}







